{% extends 'base.html' %}

{% block head_title %}
Home | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-8">
            <h1>MySchedule</h1>

            <p>MySchedule is your best interactive web app for creating school plan, or even your personal calendar.
                It will always remind you of closest events! Just register and try it as soon as possible!</p>
        </div>

        <div class="col-sm-4" style="background-color: black; min-height: 200px;">


        </div>
    </div>
    <a href="/about/">
        <div class="btn btn-primary">Read more!</div>
    </a>
</div>

{% if articles_list %}
<div class="newses">
    <div class="row">
        {% for article in articles_list %}
        <div class="col-sm-4">
            <div class="news">
                <h3>{{ article.title }}</h3>

                <p>
                    <small> Posted {{ article.time_stamp|timesince }} ago</small>
                </p>
                <p>{{ article.text|truncatechars:50 }}</p>
                <a href="{{ article.get_absolute_path }}" class="btn btn-primary" role="button">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content %}
