body{
    background-image: url("../img/brushed_alu_dark.png");
    margin-top: 48px;
    margin-bottom: 48px;
    font-family: "Bree";
}

.title{
    padding-bottom: 48px;
    text-align: center;
}

.news{
    color: inherit;
    background-color: #eee;
    border-radius: 3px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
    padding-bottom: 48px;
}