{% extends "base.html" %}
{% load staticfiles %}

    {% block head_title %}
        Create | {{ block.super }}
    {% endblock head_title %}

    <!--{% block head %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
    {% endblock head %}-->

    {% block content %}
    <div class="col-sm-6 col-md-3 col-sm-offset-3">
        <form class="article-form" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}

            <div class="form-group{% if field.errors %} has-error {% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input class="btn btn-default" type="submit" class="btn btn-default" value="Create!" />
        </form>
    </div>
    {% endblock content %}