{% extends "base.html" %}

{% block content %}
    <h1><center>{{ title }}</center></h1>

    <!-- OBJECTS LIST -->
    {% for object in object_list %}
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="thumbnail">
              {% if object.image %}
              <img src="{{ object.image.url }}" alt="{{ object.title }}">
              {% endif %}
              <div class="title" {% if object.important %} style="color: red;" {% endif %}> <h3>{{ object.title }}</h3></div>
              <div class="caption">
                  <p><small> Posted {{ object.time_stamp|timesince }} ago</small></p>
                {{ object.text|linebreaks|truncatechars:100 }}
                <p>
                    <a href="{{ object.get_absolute_path }}" class="btn btn-default" role="button">Details</a>
                    {% if user.is_staff or user.is_superuser %}
                        <a href="{{ object.get_absolute_path }}edit" class="btn btn-primary" role="button">Edit</a>
                        <a href="{{ object.get_absolute_path }}delete" class="btn btn-danger" role="button">Delete</a>
                    {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}


    <!--<div class="current">
        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
    </div>-->

<!-- PAGINATION -->
    <center>
        <ul class="pagination">
                {% if object_list.has_previous %}
                    <li><a href="?{{ page_request }}={{ object_list.previous_page_number }}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Previous</span></a></li>
                {% else %}
                    <li class="disabled"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Previous</span></li>
                {% endif %}

                {% for num in object_list.paginator.page_range %}
                    <li><a href="?{{ page_request }}={{ num }}">{{ num }}</a></li>
                {% endfor %}

                {% if object_list.has_next %}
                    <li><a href="?{{ page_request }}={{ object_list.next_page_number }}">Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                {% else %}
                    <li class="disabled">Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></li>
                {% endif %}
        </ul>
    </center>
{% endblock content %}