{% extends "base.html" %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-12 ">
        <h1> {{ instance.title }} &nbsp; <small> {{ instance.time_stamp }} </small> </h1> <br />
        {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-responsive"/>
        {% endif %}
        <h3> {{ instance.text|linebreaks }} </h3>
    </div>
{% endblock content %}